html{
    background-image: url(file:///Users/sadafahmed/Desktop/MUSTAQBIL%20/pexels-pixabay-219692.jpg);
    background-size: cover;
   
}
.navbar{
    height: 250px;
    width: 100%;
    background: black
    
}

.logo {
    padding: 20px, 100px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
    padding-right: 16px;
}

.navbar ul li{
    list-style: none;
    margin: 30px;
    display: inline-block;
    line-height: 150px;
}
.navbar ul li a{
    color: silver;
    font-family: 'Noto Sans Mono',monospace;
    font-size: x-large;
    font-weight: 700;
    padding: 10px;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #FF6600;
    border-radius: 5px;
    box-shadow: 0 0 10px #FF6600, 0 0 40px #FF6600, 0 0 80px #FF6600;
}





#title {
    position: absolute;
    top: 30.6%;
    left: 0%;
    right: 0%;
    color:silver;
    text-align: center;
    font-family: 'Noto Sans Mono',monospace ;
    font-weight: 900;
    font-size: x-large;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title2 {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    color:silver;
    text-align: center;
    font-family: 'Noto Sans Mono',monospace ;
    font-weight: 1000px;
    font-size: large;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
    background : rgba(0,0,0,0.4);
}